.title {
    text-align: center;
}

.imgLogo {
    height:50px;
    width: 50px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 32px;
    color:black;
}

.deploy {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.right {
    margin-right: 15px;
}