/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
}

.site-layout .site-layout-background {
    background: #fff;
}

.app {
    height: 100vh;
    overflow-y: hidden;
}

.lang {
    position: absolute;
    top:10px;
    right:50px;
}

.lang-input {
    position: relative;
    cursor: pointer;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    outline: none;
    background-color: #c6c6c6;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: inset 0 0 5px rgba(0,0,0, 0.2);
}

.lang-input:checked {
    background: #40e551;
}

.lang-input:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top:0;
    left:0;
    background: #fafafa;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.lang-input:checked:before {
    left:40px;
}

.eng {
    position: absolute;
    left: 90px;
    top:-10px;
}

@media (max-width: 450px) {
    .lang-input {
        width:40px;
        height:20px;
    }

    .lang-input:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        right: -150px;
    }

    .lang-input:checked:before {
        left:20px;
    }
}


