.Icons {
    font-size: 26px;
}

.dima {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
}

@media (max-width: 600px) {
    .dima {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .dima {
        font-size: 18px;
    }
}
@media (max-width: 360px) {
    .dima {
        font-size: 14px;
    }
}